<footer>
    <div class="footfixed">
        <div class="footer-column">
            <ul>
                <li><a href=""><h4>Instagram</h4></a></li>  <br>
                <li><a href=""><p style="color:white">nijantha15</p></a></li>  <br>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href=""><h4>Email</h4></a></li> <br> 
                <li><a href=""><p>Nijantha15@gmail.com</p></a></li>  <br>
            </ul>  
        </div>
        <div class="footer-column">
            <ul>
                <li><a href=""><h4>Address</h4></a></li> <br> 
                <li><a href=""><p>Tirunelveli</p></a></li>  <br>	
            </ul>  
        </div>
        <div class="footer-column">
            <ul>
                <li><a href=""><h4>Phone no</h4></a></li><br>  
                <li><a href=""><p style="color:white">6549865689</p></a></li>  <br>
            </ul>  
        </div>
    </div>
</footer>